/* app css stylesheet */
header{
  height: 50px;
  background: black;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.form-control{
  width: inherit;
}

.form-horizontal .control-label{
  padding-top: 0;
}

