<!DOCTYPE html>
<html en="us" ng-app="app">

<head>
  <title>Getting started with Angular 1.5.x components</title>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <script src="lib/angular/angular.min.js"></script>

  <!-- components -->
  <script src="appComponent.js"></script>
  <script src="userComponent.js"></script>
  <script src="accordionComponent.js"></script>
  <script src="accordionPanelComponent.js"></script>
</head>

<body>
  <!--<menu-bar brand="'Brand'"></menu-bar>-->
  <!--<user-info name="'Users Table'"></user-info>-->
  <!--<div class="container">-->
    <!--&lt;!&ndash;The main accordion component&ndash;&gt;-->
    <!--<accordion>-->
      <!--&lt;!&ndash;The first panel with heading 1&ndash;&gt;-->
      <!--<accordion-panel heading="heading 1">-->
        <!--This a panel-->
      <!--</accordion-panel>-->
      <!--&lt;!&ndash;The secoind panel with heading 2&ndash;&gt;-->
      <!--<accordion-panel heading="Heading 2">-->
        <!--this is another panel-->
      <!--</accordion-panel>-->
    <!--</accordion>-->
  <!--</div>-->
</body>

</html>
